* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: none;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
}

/* NAV */

#brand-logo {
  width: 50px;
}

.navbar.navbar-expand-lg {
  background-color: #000;
  font-weight: bold;
  padding: 20px;
}

nav ul li a {
  color: white;
  font-size: 2rem;

}

nav ul li a:hover {
  color: rgb(245, 255, 99);
  font-size: 2rem;
}

/* ALERT */

.alert {
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 20px;
  font-weight: bold;
  font-size: 2rem;
}

.alert.alert-success {
  border: 2px solid #008000;
  background-color: #008000;
  color: whitesmoke;
}

.alert.alert-warning {
  border: 2px solid #ff0000;
  background-color: #ff0000;
  color: whitesmoke;
}

.alert p {
  margin-bottom: 0;
}

/* HOME */

.main-banner {
  background-image: url('../img/pizza-banner.jpg');
  height: 200px;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-banner h1 {
  color: aliceblue;
  text-align: center;
  padding: 30px;
  background-color: #000;
  margin: 22px auto;
  text-transform: uppercase;
  width: 450px;
  font-size: 4rem;
}

.main-container {
  padding: 57px 0;
  text-align: center;
  min-height: 50px;
}

.main-container h2 {
  margin-bottom: 30px;
  font-size: 3rem;
}

.row {
  margin: 0;
}

#pizza-form {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 14rem;
}


#pizza-form:not(.btn.btn-primary) {
  text-align: left;
}

#pizza-form label {
  font-weight: bold;
  font-size: 2rem;
}

#pizza-form option,
#pizza-form select {
  font-size: 2rem;
}

.btn.btn-primary {
  background-color: #000;
  border: none;
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  font-size: 2rem;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn.btn-primary:hover {
  color: rgb(245, 255, 99);
}


/* DASHBOARD */

.delete-btn,
.update-btn {
  border: none;
  background: transparent;
}

.delete-btn {
  padding-top: 7px;
}

.delete-btn i {
  color: #721c24;
  font-size: 14px;
}

.update-btn i {
  color: #004085;
  padding-left: 20px;
}

.update-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.status-input {
  width: 55%;
}

.table ul {
  text-align: left;
}

/* FOOTER */

footer {
  width: 100%;
  background-color: #000;
  height: 130px;
  position: fixed;
  color: white;
  display: flex;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 2rem;
}